# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Hackathon Docs & Private Notes
TODO.md
Veternak_Design_Guide_v1.0.md
Veternak_PRD_Combined_for_StitchAI.md
LEARN.jpeg
task-integration.md